* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cutive Mono", monospace;
}

body {
  background-color: #ebdccf;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "titulo" "carta" "form";
  height: 100vh;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 2rem;
  grid-area: titulo;
  color: rgb(224, 165, 157);
  align-self: center;
  justify-self: center;
  text-shadow: 4px 4px 0px #C24866;
}

#carta {
  width: 300px;
  height: 300px;
  grid-area: carta;
  background-color: rgb(224, 165, 157);
  display: flex;
  justify-content: center;
  box-shadow: 7px 7px 0px 2px #C24866;
  justify-self: center;
  flex-direction: column;
}
#carta .uno, #carta .dos, #carta .tres {
  padding: 10px;
  color: white;
  font-size: 1.5rem;
}
#carta img {
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

form {
  background-color: rgb(250, 241, 233);
  grid-area: form;
  margin: 20px;
  box-shadow: 10px 10px 0px 1px rgba(179, 160, 152, 0.7490196078);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 20px;
}
form h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  color: #ebdccf;
  text-shadow: 4px 4px 0px rgba(179, 160, 152, 0.7490196078);
}
form label {
  font-size: 2rem;
  padding: 20px;
}

input {
  width: 200px;
  text-align: center;
  height: 40px;
  font-size: 2rem;
  background-color: rgba(235, 220, 207, 0.8156862745);
  border: 0;
  border-bottom: solid 4px;
  border-color: rgba(179, 160, 152, 0.7490196078);
  margin: 5px;
}
input:focus-visible {
  outline: 0;
}

#btn, .volver {
  width: 200px;
  height: 70px;
  border: 0;
  cursor: pointer;
  box-shadow: 5px 5px 0px 1px rgba(179, 160, 152, 0.7490196078);
  font-size: 2rem;
  transition-duration: 0.5s;
}
#btn:hover, .volver:hover {
  box-shadow: -5px -5px 0px 1px rgba(179, 160, 152, 0.75);
}

.caracteristicas {
  font-size: 1.5rem;
}
.caracteristicas p {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px;
}
.caracteristicas p::before, .caracteristicas p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.caracteristicas p::before {
  background-color: #faf1e9;
  -webkit-animation: typewriter 6s steps(14) 1.1s forwards;
          animation: typewriter 6s steps(14) 1.1s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.caracteristicas p::after {
  width: 0.1em;
  background: rgba(179, 160, 152, 0.7490196078);
  -webkit-animation: typewriter 6s steps(24) 1s forwards, blink 10s steps(1) forwards;
          animation: typewriter 6s steps(24) 1s forwards, blink 10s steps(1) forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

audio {
  display: none;
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    background-image: url("../media/fondo.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "titulo form" "carta form";
  }
  h1 {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 3rem;
    grid-area: titulo;
    color: rgb(224, 165, 157);
    align-self: center;
    justify-self: center;
    text-shadow: 4px 4px 0px #c76676;
  }
  #carta {
    width: 300px;
    height: 300px;
    grid-area: carta;
    background-color: #e0a59d;
    display: flex;
    box-shadow: 7px 7px 0px 2px #c76676;
    justify-self: center;
    flex-direction: column;
  }
  #carta img {
    width: 200px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: auto;
  }
  form {
    background-color: #faf1e9;
    grid-area: form;
    margin: 50px;
    box-shadow: 10px 10px 0px 1px rgba(179, 160, 152, 0.7490196078);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 40vw;
    padding: 20px;
  }
  form h2 {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 3rem;
    color: #ebdccf;
    text-shadow: 4px 4px 0px rgba(179, 160, 152, 0.7490196078);
  }
  form label {
    font-size: 2rem;
    padding: 20px;
  }
  input {
    width: 200px;
    text-align: center;
    height: 40px;
    font-size: 2rem;
    background-color: rgba(235, 220, 207, 0.8156862745);
    border: 0;
    border-bottom: solid 4px;
    border-color: rgba(179, 160, 152, 0.7490196078);
    margin: 5px;
  }
  input:focus-visible {
    outline: 0;
  }
  #btn, .volver {
    width: 200px;
    height: 70px;
    border: 0;
    cursor: pointer;
    box-shadow: 5px 5px 0px 1px rgba(179, 160, 152, 0.7490196078);
    font-size: 2rem;
    transition-duration: 0.5s;
  }
  #btn:hover, .volver:hover {
    box-shadow: -5px -5px 0px 1px rgba(179, 160, 152, 0.75);
  }
  .caracteristicas {
    font-size: 1.5rem;
  }
  .caracteristicas p {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 40px;
  }
  .caracteristicas p::before, .caracteristicas p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .caracteristicas p::before {
    background-color: #faf1e9;
    -webkit-animation: typewriter 6s steps(14) 1.1s forwards;
            animation: typewriter 6s steps(14) 1.1s forwards;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .caracteristicas p::after {
    width: 0.1em;
    background: rgba(179, 160, 152, 0.7490196078);
    -webkit-animation: typewriter 6s steps(24) 1s forwards, blink 10s steps(1) forwards;
            animation: typewriter 6s steps(24) 1s forwards, blink 10s steps(1) forwards;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .uno {
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .uno::before, .uno::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .uno::before {
    background-color: #e0a59d;
    -webkit-animation: typewriter 4s steps(12) 1.1s forwards;
            animation: typewriter 4s steps(12) 1.1s forwards;
  }
  .uno::after {
    width: 0.125em;
    background: rgb(255, 255, 255);
    -webkit-animation: typewriter 4s steps(21) 1s forwards, blink 6s steps(1) forwards;
            animation: typewriter 4s steps(21) 1s forwards, blink 6s steps(1) forwards;
  }
  .dos {
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .dos::before, .dos::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .dos::before {
    background-color: #e0a59d;
    -webkit-animation: typewriter 4s steps(12) 1.1s forwards;
            animation: typewriter 4s steps(12) 1.1s forwards;
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  .dos::after {
    width: 0.125em;
    background: rgb(255, 255, 255);
    -webkit-animation: typewriter 4s steps(21) 1s forwards, blink 6s steps(1) forwards;
            animation: typewriter 4s steps(21) 1s forwards, blink 6s steps(1) forwards;
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  .tres {
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .tres::before, .tres::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .tres::before {
    background-color: #e0a59d;
    -webkit-animation: typewriter 4s steps(12) 1.1s forwards;
            animation: typewriter 4s steps(12) 1.1s forwards;
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
  }
  .tres::after {
    width: 0.125em;
    background: rgb(255, 255, 255);
    -webkit-animation: typewriter 4s steps(21) 1s forwards, blink 6s steps(1) forwards;
            animation: typewriter 4s steps(21) 1s forwards, blink 6s steps(1) forwards;
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
  }
}